*{
	margin: 0;
	padding: 0;
	font-family: 'Acme', sans-serif;
}
body{
	background-color: #0a3d62;
}
.container{
	width: 70%;
	margin: auto;
	text-align: center;
}
.dice{
	text-align: center;
	display: inline-block;
	padding: 3%;
}
h1{
	margin: 30px;
	text-shadow: 5px 0 red;
	font-size: 6rem;
	color: #f6b93b;
}
p{
	font-size: 2rem;
	color: red;
	text-shadow: 1px 1px #f6b93b;
}
button{
	text-align: center;
	text-shadow: 1px 1px white;
	padding: 10px;
	background-color: #00b894;
	color: orange;
	border-radius: 25px;
	font-size: 1.5rem;
	border: none;
}
img{
	width: 120%;
}